<% provide(:title, "Home") %>
<div class="center jumbotron">
    <h1>Book storE</h1>
    <p>
      This is the home page for the
      <a href="#">"The" Book Makes You More Filled</a>.
    </p>
     <h2>From Owner</h2>
      <p>Maybe,our dream starts from thinking of anyone most precious.</p>
      <p>you have "The one"? So,Let's start from now on for such a person.</p>
      <p>Next inovation always roll up in your heart.</p>

    <%= link_to "welcome!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("pic.png", alt: "home picture"),
'https://cdn.pixabay.com/' %>
      


 
