<% provide(:title, @book.title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="book_info">
      <p>Book searcH</p>
      <%= form_tag(books_search_path,:method => 'get') do %>
          <%= text_field_tag :search %>
      <%= submit_tag 'Search', :name => nil %>
      <% end %>
    </section>
  </aside>
</div>